.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/application/third_party/google-api/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

/node_modules/
/.venv/

google-secret.txt

application/libraries/Google.php

assets/videos/
assets/documentation/product_demo_final.mp4

output/*

output_dataset/*

python_scripts/models_players/*
python_scripts/models_team/*
